In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('customer_shopping_behavior.csv')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include='all')

In [ ]:
df.isnull().sum()

In [ ]:
print(df.isnull().sum())

In [ ]:
df.isna()

In [ ]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
df.columns=df.columns.str.lower()
df.columns

In [ ]:
df.columns=df.columns.str.replace(' ','_')
df.columns

In [ ]:
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [ ]:
df.columns

In [ ]:
df

In [ ]:
labels=['Yound Adult', 'Adult', 'Middle-Aged', 'Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

df[['age','age_group']].head(10)

In [ ]:
df.columns

In [ ]:
df['frequency_of_purchases'].unique()

In [ ]:
frequncy_mapping={
    'Fortnightly':14,
    'Weekly':7,  
    'Annually':365, 
    'Quarterly':90,
    'Bi-Weekly':14,
    'Monthly':30,
    'Every 3 Months':90
}
df['purchase_frequncy_days']=df['frequency_of_purchases'].map(frequncy_mapping)
df[['purchase_frequncy_days','frequency_of_purchases']].head(10)

In [ ]:
df.columns

In [ ]:
df[['discount_applied', 'promo_code_used']].head(10)

In [120]:
df.head(5)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequncy_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Middle-Aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Yound Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Middle-Aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Yound Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Middle-Aged,365

In [121]:
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [122]:
df=df.drop('promo_code_used',axis=1)

In [123]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequncy_days'],
      dtype='str')

In [131]:
df.describe()

,customer_id,age,purchase_amount,review_rating,previous_purchases,purchase_frequncy_days
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750051,25.351538,89.133077
std,1125.977353,15.207589,23.685392,0.713590,14.447125,119.037566
min,1.000000,18.000000,20.000000,2.500000,1.000000,7.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000,14.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000,30.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000,90.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000,365.000000

In [133]:
df.to_csv("cleaned_customer_data.csv", index=False)

In [134]:
# Replace with your actual folder path
folder_path = r"D:\COREDARTS\DEMO DATA"
""
# Combine the path with your chosen filename
file_name = "cleaned_customer_data.csv"
full_path = f"{folder_path}/{file_name}"

# Save the file
df.to_csv(full_path, index=False)